body {
  background-color: aliceblue;
}

.Container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.img{
  width: 370px;
  margin-top: 50px;
}

@media(max-width:770px){
  .Container{
    margin: 0 10%;
  }
  .img{
    width: 100%;
  }
}